
<header id="header">
    <div class="container">
        <div class="flex-grid">
            <div class="col">
                <a href="/" class="logo"><img src="/assets/images/logo.svg" width="268" height="40" title="Shock Hosting" alt="Shock Hosting"></a>
            </div>
            <div class="col" id="main-nav">
                <ul class="sh-nav">
                    <li><a href="/shared">Shared <span>Hosting</span></a></li>
        <li><a href="/reseller">Reseller <span>Hosting</span></a></li>
        <li><a href="/vps">Virtual <span>Servers</span></a></li>
        <li><a href="/dedicated">Dedicated <span>Servers</span></a></li>
                </ul>
            </div>
            <div class="col" id="sh-btns">
                <ul class="sh-nav">
                    <li><a href="https://shockhosting.net/portal/submitticket.php" class="button outline">Support</a></li><li><a href="https://shockhosting.net/portal" class="button">Client Area</a></li><li>
                        <div class="button_container" id="toggle">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
