<script src="/assets/js/main.js"></script>
<div class="overlay" id="overlay">
    <a href="/" class="logo"><img src="/assets/images/logo.svg" width="268" height="40" title="Shock Hosting" alt="Shock Hosting"></a>
    <nav class="overlay-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shared">Shared Hosting</a></li>
            <li><a href="/reseller">Reseller Hosting</a></li>
            <li><a href="/vps">Virtual Servers</a></li>
            <li><a href="/dedicated">Dedicated Servers</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <div class="bottomoverlay">
        <a href="https://shockhosting.net/portal/submitticket.php" class="button outline">Support</a>
        <a href="https://shockhosting.net/portal" class="button">Client Area</a>
    </div>
</div>
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="flex-grid four">
                <div class="col">
                    <h5>Services</h5>
                    <ul>
                        <li><a href="/shared">Shared Hosting</a></li>
                        <li><a href="/reseller">Reseller Hosting</a></li>
                        <li><a href="/vps">Virtual Servers</a></li>
                        <li><a href="dedicated">Dedicated Servers</a></li>
                        <li><a href="https://shockhosting.net/portal/cart.php?a=add&domain=register">Domain Registration</a></li>
                        <li><a href="https://shockhosting.net/portal/cart.php?a=add&domain=transfer">Domain Transfer</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/about#locations">Datacenter Locations</a></li>
                        <li><a href="https://shockhosting.net/portal/announcements.php">Announcements</a></li>
			<li><a href="https://twitter.com/ShockHosting">Twitter Page</a></li>
			<li><a href="https://www.facebook.com/ShockHosting">Facebook Page</a></li>
                        <li><a href="https://shockhosting.net/portal/submitticket.php">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="https://shockhosting.net/portal/submitticket.php">Submit a Ticket</a></li>
                        <li><a href="https://shockhosting.net/portal/supporttickets.php">View Tickets</a></li>
                        <li><a href="https://status.shockhosting.net" target="_blank">System Status Page</a></li>
                        <li><a href="https://shockhosting.net/portal/knowledgebase.php">Knowledgebase</a></li>
			<li><a href="https://shockhosting.net/portal/submitticket.php?step=2&deptid=4">Report Abuse</a></li>

                    </ul>
                </div>
                <div class="col">
                    <h5>More</h5>
                    <ul>
                        <li><a href="https://shockhosting.net/portal/clientarea.php">Client Area</a></li>
                        <li><a href="https://shockhosting.net/portal/clientarea.php?action=details">Account Details</a></li>
			<li><a href="https://shockhosting.net/portal/clientarea.php?action=emails">Email History</a></li>
			<li><a href="https://shockhosting.net/portal/cart/domain/renew">Renew a Domain</a></li>
                        <li><a href="https://shockhosting.net/portal/clientarea.php?action=invoices">View Invoices</a></li>
			<li><a href="https://shockhosting.net/portal/affiliates.php">Affiliate Program</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="flex-grid">
                <div class="col">
                    <div class="clearfix">
                        <a href="/" class="footer-logo"><img src="/assets/images/logo-white-text.svg" width="204" height="32" title="Shock Hosting" alt="Shock Hosting"></a>
                        <span id="slogan">"High quality hosting at an affordable price!"</span>
                    </div>
                    <ul>
                        <li><a href="/terms">Terms of Service</a></li>
                        <li class="cr-div">&nbsp;|&nbsp;</li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li class="cr-div">&nbsp;|&nbsp;</li>
                        <li><a href="/aup">Acceptable Use Policy</a></li>
                    </ul>
                    <p>Copyright © 2013 - 2023 Shock Hosting LLC. All Rights Reserved.</p>
                </div>
                <div class="col leftauto text-right">
                    <img src="assets/images/tp-5stars.png" alt="" class="tp-stars">
                    <p>Rated as <strong>Excellent</strong> with<br><strong>4.8</strong> out of <strong>5</strong> stars on <u><a href="https://www.trustpilot.com/review/shockhosting.net" target="_blank">TrustPilot</a></u></p>
                    <a href="https://www.facebook.com/ShockHosting" class="social" target="_blank"><img src="/assets/images/facebook.png"><img src="assets/images/facebook-hover.png"></a>
                    <a href="https://twitter.com/ShockHosting" class="social" target="_blank"><img src="/assets/images/twitter.png"><img src="assets/images/twitter-hover.png"></a>
                </div>
            </div>
        </div>
    </div>
</footer>