<app-header></app-header>
   <!-- Responsive Nav in Footer -->
    <section class="banner" id="home-banner">
        <div id="carousel-hero" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-hero" data-slide-to="1"></li>
                <li data-target="#carousel-hero" data-slide-to="2"></li>
                <li data-target="#carousel-hero" data-slide-to="3"></li>
                <li data-target="#carousel-hero" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                
                <div class="carousel-item active">
                    <div class="banner-slide" id="slide-location">
                        <div class="container">
                            <div class="flex-grid one">
                                <div class="col">
                                    <h4>New Datacenter Locations</h4>
                                    <h1>Denver, Jacksonville, & Tokyo</h1>
                                    <p>We are excited to welcome these cities to our growing list of locations!  Services can now be deployed in 11 locations across 4 continents.</p>
                                    <a href="about" class="button">Learn More</a>
                                    <a href="https://shockhosting.net/portal/submitticket.php" class="button whiteoutline">Contact Us</a>
                                    <span class="mute">Free transfers from other locations are available, <a href="https://shockhosting.net/portal/submitticket.php">click here</a> to request one.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="banner-slide" id="slide-shared">
                        <div class="container">
                            <div class="flex-grid one">
                                <div class="col">
                                    <h4>Celebrating 7+ years of </h4>
                                    <h1>Shared Hosting</h1>
                                    <h3>That Is Fast, Reliable, Secure <span class="red">&</span> Affordable</h3>
                                    <ul class="btick clearfix">
                                        <li><img src="images/red-checkmark.png" alt="">100% Uptime Guarantee</li>
                                        <li><img src="images/red-checkmark.png" alt="">24/7 Technical Support</li>
                                        <li><img src="images/red-checkmark.png" alt="">7-Day Money-Back Guarantee</li>
                                        <li><img src="images/red-checkmark.png" alt="">Automatic Application Installer</li>
                                        <li><img src="images/red-checkmark.png" alt="">LiteSpeed Web Server</li>
                                        <li><img src="images/red-checkmark.png" alt="">Free Dedicated IP Address</li>
                                    </ul>
                                    <a href="shared" class="button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="banner-slide" id="slide-reseller">
                        <div class="container">
                            <div class="flex-grid one">
                                <div class="col">
                                    <h3>START A HOSTING BUSINESS WITH</h3>
                                    <h1>Reseller Hosting</h1>
                                    <p>We understand the high demand for web hosting, therefore we have tailored our reseller program to provide the best level of service.</p>
                                    <strong class="strong">Great for web designers too!</strong>
                                    <a href="reseller" class="button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="banner-slide" id="slide-vps">
                        <div class="container">
                            <div class="flex-grid one">
                                <div class="col">
                                    <h4>COMPLETELY CUSTOMIZABLE</h4>
                                    <h1>Virtual Servers</h1>
                                    <h3>SSD and HDD Configurations Available</h3>
                                    <ul class="btick clearfix">
                                <li><img src="images/bulletbig.png" alt="">Powerful Intel Scalable and AMD EPYC CPU Nodes</li>
                                <li><img src="images/bulletbig.png" alt="">Linux and Windows Operating Systems Available</li>
                                <li><img src="images/bulletbig.png" alt="">Free 20 Gbps Network Level DDoS Protection</li>
                                <li><img src="images/bulletbig.png" alt="">Premium 1 Gbps Network Port Bandwidth </li>

                                    </ul>
                                    <a href="vps" class="button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="banner-slide" id="slide-dedicated">
                        <div class="container">
                            <div class="flex-grid one">
                                <div class="col">
                                    <h4>Affordable And Reliable</h4>
                                    <h1>Dedicated Servers</h1>
                                    <p>Maximum value, performance, and power compared to Virtual Servers. Fully dedicated with various configurations, operating systems, and locations to choose from.</p>
                                    <ul id="sd-list" class="clearfix">
                            <li><img src="images/dedicated-icon-1.png" alt=""> Free DDoS Protection <br>up to 20 Gbps</li>
                            <li><img src="images/dedicated-icon-2.png" alt=""> Server Deployment in <br>24 Hours or less</li>
                            <li><img src="images/dedicated-icon-3.png" alt=""> IPMI KVM Management <br>Console Access</li>
                        </ul>
                                    <a href="dedicated" class="button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <a class="carousel-control-prev" href="#carousel-hero" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-hero" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>

    <div class="trustpilot-widget">
        <div class="container">
            <div class="flex-grid one">
                <div class="col tp-widget" id="tp-row">
                    <span>Our customers rate us as</span>
<h2>Excellent</h2><a href="https://trustpilot.com/review/shockhosting.net" target="_blank"><img src="images/tp-5stars.png" alt=""></a>
<span>with <strong>4.8</strong> out of <strong>5</strong> stars on <a href="https://trustpilot.com/review/shockhosting.net" target="_blank"><img src="images/tp-logo.png" alt="" class="tpl-dark"><img src="images/tp-logo-white.png" alt="" class="tpl-white"></a>
</span>                </div>
            </div>
        </div>
    </div>

    <section class="light-bg plan-boxes" id="home-services">
        <div class="container">
            <div class="flex-grid one">
                <div class="col">
                    <div class="title">
                        <h2>Available Services</h2>
                        <p>Choose from an array of different plans and services to suit your needs.</p>
                    </div>
                </div>
            </div>

            <div class="flex-grid four" id="plans">
                <div class="col" id="plan-1">
                    <div class="plan-content">
                        <h3>Shared Hosting</h3>
                        <img src="images/service-shared.png" alt="">
						<span id="startingat">Starting at </span>
                        <h2 class="the-price"><sup>$</sup>2<small>.99<span>/mo</span></small></h2>
                        <span class="regular-price">As low as <strong>$2.24/mo</strong> when pre-paying for more than a month</span>
                        <a href="shared" class="button">Learn More</a>
                        <ul>
                            <li><strong>Unlimited</strong> SSD Storage</li>
                            <li><strong>Unlimited</strong> Bandwidth</li>
                            <li><strong>1</strong> Hosted Domain</li>
                            <li><strong>Unlimited</strong> Email Accounts</li>
                        </ul>
                    </div>
                </div>
                <div class="col" id="plan-2">
                    <div class="plan-content">
                        <h3>Reseller Hosting</h3>
                        <img src="images/service-reseller-old.png" alt="">
						<span id="startingat">Starting at </span>
                        <h2 class="the-price"><sup>$</sup>19<small>.99<span>/mo</span></small></h2>
                        <span class="regular-price">As low as <strong>$14.99/mo</strong> when pre-paying for more than a month</span>
                        <a href="reseller" class="button">Learn More</a>
                        <ul>
                            <li><strong>Unlimited</strong> SSD Storage</li>
                            <li><strong>Unlimited</strong> Bandwidth</li>
                            <li><strong>Unlimited</strong> Hosted Domains</li>
                            <li><strong>10</strong> cPanel Accounts</li>
                        </ul>
                    </div>
                </div>
                <div class="col" id="plan-3">
                    <div class="plan-content">
                        <h3>Virtual Servers</h3>
                        <img src="images/service-vps.png" alt="">
						<span id="startingat">Starting at </span>
                        <h2 class="the-price"><sup>$</sup>4<small>.99<span>/mo</span></small></h2>
                        <span class="regular-price">As low as <strong>$3.74/mo</strong> when pre-paying for more than a month</span>
                        <a href="vps" class="button">Learn More</a>
                        <ul>
                            <li><strong>1 x 3.2+ Ghz</strong> CPU Core</li>
                            <li><strong>2 GB</strong> Memory</li>
                            <li><strong>30 GB</strong> SSD or <strong>300 GB</strong> HDD</li>
                            <li><strong>2 TB</strong> Bandwidth</li>
                        </ul>
                    </div>
                </div>
                <div class="col" id="plan-4">
                    <div class="plan-content">
                        <h3>Dedicated Servers</h3>
                        <img src="images/service-dedicated.png" alt="">
						<span id="startingat">Starting at </span>
                        <h2 class="the-price"><sup>$</sup>49<small>.99<span>/mo</span></small></h2>
                        <span class="regular-price">As low as <strong>$37.49/mo</strong> when pre-paying for more than a month</span>
                        <a href="dedicated" class="button">Learn More</a>
                        <ul>
                            <li><strong>4 x 3.5+ Ghz</strong> CPU Cores</li>
                            <li><strong>32 GB</strong> Memory</li>
                            <li><strong>480 GB</strong> SSD or <strong>2 TB</strong> HDD</li>
                            <li><strong>10 TB</strong> Bandwidth</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="entry-text">
        <div class="container">
            <div class="flex-grid two" id="padded-grid">
                <div class="col" id="entry-left">
                    <h2 class="tl">Fast, Reliable, Secure, and Affordable Web Hosting Services</h2>
                    <p>Since day one our main goal has been to provide high quality hosting at an affordable price to every client, big or small. </p>
					<p>Without successful clients, we wouldn't be around, which is what pushes us to provide the best service possible without compromising on quality or features. </p>
                    <a href="about" class="button">Learn More</a>
                    <span>Have any questions? &nbsp;<a href="https://shockhosting.net/portal/submitticket.php">Contact us</a> and we'll help you out!</span>
                </div>
                <div class="col">
                    <div class="left-img-feature">
                        <img src="images/enterprise-hardware.png" alt="">
                        <h4>Enterprise Grade Hardware</h4>
                        <p>All server and network hardware used by us is enterprise grade which provides the best level of performance and reliability possible.</p>
                    </div>
                    <div class="left-img-feature">
                        <img src="images/fast-network.png" alt="">
                        <h4>Blazing Fast Network</h4>
                        <p>Say goodbye to slow upload and download speeds with our 1 Gbps network that is capable of transferring a website in under a second.</p>
                    </div>
                    <div class="left-img-feature">
                        <img src="images/smart-technology.png" alt="">
                        <h4>Artificial Intelligence Security</h4>
                        <p>Websites hosted on our network are protected against various malicious attacks by utilizing advanced artificial intelligence technology.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dark-bg" id="tp-slider">
        <div class="container">
            <div class="title">
                <h2>Customer Reviews</h2>
                <p>We’re rated as <strong>Excellent</strong> with <strong>4.8</strong> out of <strong>5</strong> stars on <a href="https://ca.trustpilot.com/review/shockhosting.net" target="_blank"><img src="images/tp-logo-white.png" alt=""></a></p>
            </div>
            <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="flex-grid three">
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>Andrew</h5>
                                        <span>Reviewed on 03-02-2020</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"I have had nothing but an amazing experience with Shock Hosting. I have used them now for approximately 4-5 years and they have been..."</p>
                                <a href="https://trustpilot.com/reviews/5e5ddd4c3c93ae0864ac217d">Read the full review &raquo;</a>
                            </div>
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>Jasper</h5>
                                        <span>Reviewed on 03-07-2020</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"Moved in last week with these guys and they moved over my existing hosting accounts from my old VPS to their reseller environment..."</p>
                                <a href="https://trustpilot.com/reviews/5e64219a3c93ae0bc4121584">Read the full review &raquo;</a>
                            </div>
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>Johannes</h5>
                                        <span>Reviewed on 01-09-2020</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"Really, the support is amazing and fast. When needed, they explain everything. I'm so happy I chose Shock Hosting, after my last..."</p>
                                <a href="https://trustpilot.com/reviews/5e17aa71c845450914b4d40f">Read the full review &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="flex-grid three">
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>Marcus</h5>
                                        <span>Reviewed on 12-10-2019</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"Exceptional host, fast servers with the recent addition of Maidenhead being activated with my plan. Support is fast and knowledgeable..."</p>
                                <a href="https://trustpilot.com/reviews/5defa145c8454506301cf6d2">Read the full review &raquo;</a>
                            </div>
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>Brandon</h5>
                                        <span>Reviewed on 11-27-2019</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"I’ve been making websites since 2010, so finding a reliable and fast host was getting pretty difficult with so many different hosting companies..."</p>
                                <a href="https://trustpilot.com/reviews/5ddedec3c845450acc039d39">Read the full review &raquo;</a>
                            </div>
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>Alex</h5>
                                        <span>Reviewed on 11-19-2019</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"Shock Hosting went above and beyond to help me with the issues I was having due to a DDoS attack, with quick replies and friendly staff..."</p>
                                <a href="https://trustpilot.com/reviews/5dd40407c845450640c4a28e">Read the full review &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="flex-grid three">
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>YL</h5>
                                        <span>Reviewed on 11-08-2019</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"Shock Hosting has exceeded our expectations. They are far superior to every other host we have tried (which is several dozen in number)..."</p>
                                <a href="https://trustpilot.com/reviews/5dc5dd3d604858093c24f0f4">Read the full review &raquo;</a>
                            </div>
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>Max</h5>
                                        <span>Reviewed on 02-12-2019</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"I have a server with them in their Netherlands location, I've had no downtime in the 6 months I've been with them and support is always..."</p>
                                <a href="https://trustpilot.com/reviews/5c6273b997afa10734cc3301">Read the full review &raquo;</a>
                            </div>
                            <div class="col" id="main-col">
                                <div class="flex-grid fg-fix" id="tp-customer">
                                    <div class="col">
                                        <img src="images/tp-avatar-default.png" alt="">
                                    </div>
                                    <div class="col">
                                        <h5>Retsylo</h5>
                                        <span>Reviewed on 11-17-2018</span>
                                    </div>
                                    <div class="col leftauto">
                                        <img src="images/tp-5stars.png" alt="" class="tp-stars">
                                    </div>
                                </div>

                                <p>"I highly recommend this company, the customer service has always been very friendly and fast, I thank you very much for all your help these 3..."</p>
                                <a href="https://ca.trustpilot.com/reviews/5bf0d8a89d378009543c50ff">Read the full review &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-testimonials" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-testimonials" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="title">
                <h2>Our Hosting Platform</h2>
                <p>Packed with features so that you can spend less time managing your website or server and more time focusing on your business.</p>
            </div>
            <div class="flex-grid four">
                <div class="col">
                    <img src="images/fully-managed.png" alt="">
                    <h4>24/7 Support</h4>
                    <p>Our experienced support team is available around the clock to assist with any issues that may arise.</p>
                </div>
                <div class="col">
                    <img src="images/uptime-guarantee.png" alt="">
                    <h4>Uptime Guarantee</h4>
                    <p>All services are backed by our industry leading 100% uptime guarantee to ensure the best uptime possible.</p>
                </div>
                <div class="col">
                    <img src="images/raid-ssd.png" alt="">
                    <h4>SSD Powered</h4>
                    <p>Experience the performance of RAID 10 SSD storage which is up to 5x faster than conventional hard drives.</p>
                </div>
                <div class="col">
                    <img src="images/cloud-hosting.png" alt="">
                    <h4>Multiple Locations</h4>
                    <p>It's important to be close to your visitors which is why we offer 11 different locations to choose from.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="half-bg-grey">
        <div class="container">
            <div class="flex-grid two" id="services">
                <div class="col">
                    <img src="images/domain-names.png" alt="">
                    <h3>Domain Names</h3>
                    <span class="label blue">From $9.99/yr</span>
                    <p>Looking for the perfect domain name?  Register or transfer over 20+ different TLD's with us such as .com, .net and .org for as little as $9.99/year. No price increase when you renew!</p>
                </div>
                <div class="col">
                    <img src="images/instant-ssl.png" alt="">
                    <h3>SSL Certificates</h3>
                    <span class="label green">FREE</span>
                    <p>No more paying to secure your website as all domains hosted on our cPanel platform receive free SSL certificates powered by AutoSSL and issued by Sectigo.</p>
                </div>
            </div>
        </div>
    </section>
<!--
    <div class="red-alert">
        <div class="container">
            <div class="flex-grid one">
                <div class="col">
                    <strong>Free DDoS Protection</strong> included with all Shock Hosting services. <a href="#">Click here</a> to learn more.
                </div>
            </div>
        </div>
    </div>
-->
    <section class="domain-home">
        <div class="container">
            <div class="title">
                <h2>Get Started With a Domain</h2>
                <p>Search from over 20+ different TLD's with low prices guaranteed</p>
            </div>
            <form action="https://shockhosting.net/portal/cart.php?a=add&domain=register" method="post">
                <div class="flex-grid one">
                    <div class="input-box">
                        <input type="text" value="" placeholder="Enter a domain name to get started..." name="query" id="query" />
                        <input type="submit" value="" class="search-submit" />
                    </div>
                    <div class="text-center">
                        <p>
                            <a href="https://shockhosting.net/portal/cart.php?a=add&amp;domain=transfer">Domain Transfer</a> | <a href="https://shockhosting.net/portal/cart.php?a=add&amp;domain=register">Show TLD Pricing</a></p>
                        <input type="submit" value="Search" class="button srchbtn">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <style>
        .srchbtn {
            border: 0px;
        }
        
        .srchbtn:hover {
            cursor:pointer;
        }

        .srchbtn:focus {
            outline: 0px;
        }

    </style>
    
    
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.touchSwipe.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#carousel-testimonials').carousel({
            interval: 7000
        })
        $('#carousel-hero').carousel({
            interval: 9000
        })

    </script>

<app-footer></app-footer>